### GUI
PyQt5==5.15.4 #5.14.0 # 5.15 buggy with plugin libraries
PyQtChart==5.15.4 #5.14.0

### camera and video
opencv-python==4.5.1.48
# opencv-contrib-python

### math
numpy
numba
scipy

### opengl
pyopengl
Pillow

### developer
pretty_errors
yapf
mypy
